name: CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

permissions:
    contents: read
    pages: write
    id-token: write

jobs:
    docs:
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - uses: actions/checkout@v6
            - uses: astral-sh/setup-uv@v7
            - run: uv sync --dev
            - run: |
                cd src
                uv run typer cli utils docs --output ../docs/usage.md
            - run: uv run mkdocs build --strict
            - uses: actions/upload-pages-artifact@v3
              with:
                  path: site
            - id: deployment
              uses: actions/deploy-pages@v4
