name: Docs

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main

      - name: Install uv
        uses: astral-sh/setup-uv@main

      - name: Copy README to docs
        run: |
          mkdir -p docs
          cp README.md docs/index.md
      - name: Generate CLI docs
        run: uv run typer src/cli/cli.py utils docs --name cargit --output docs/cli.md

      - name: Setup Pages
        uses: actions/configure-pages@main

      - name: Upload artifact
        uses: actions/upload-pages-artifact@main
        with:
          path: "docs"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main
